@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

.todo {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}

h4 {
    font-size: 16px;
    font-weight: 700;
}

.body {
    font-size: 14px;
    font-weight: 300;
}

.name {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', italic;
    color: #555;
}

button {
    font-size: 14px;
    line-height: 2em;
    width: 50%;
    background-color: #fff;
    transition: .5s ease;
}

button:hover {
    border: none;
    background-color: #888;

}